<div class="card m-3">
  <ngx-dropzone accept=".csv" (change)="onSelect($event)">
    <ngx-dropzone-label>Drop files here</ngx-dropzone-label>
    <ngx-dropzone-preview showPreviews="true" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  <br/>
  <div>
    <button [disabled]="files.length === 0" type="button" class="btn btn-primary" (click)="upload()">Upload</button>
  </div>
</div>
<app-userspage></app-userspage>
